<h1>List Users</h1>
<% @tweets.inspect %>
<% @users.each do |thing| %>
    <br/><br/><a href="/<%= thing.user_name %>">@<%= thing.user_name %></a> <% thing.email %> <% thing.id %>
    <br/>
    <ul>
    <% @tweets.each do |x| %>
        
            <% if thing.id == x.user_id %>
                <li><%= x.description %></li>
            <% end %>
        
    <% end %>
    </ul>
<% end %>